* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: url("../img/wallpaper.jpg") no-repeat;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
    body {
      background: url("../img/wallpaper-retina.jpg") no-repeat; } }

.nav, .footer-menu, .socials, .copyright-text, .wrapper {
  min-width: 30rem;
  max-width: 64rem; }

.wrapper {
  position: relative;
  background: #fff;
  margin: auto;
  font-family: 'Arial',sans-serif;
  height: auto;
  padding: 2.5rem;
  color: black;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.nav {
  position: relative;
  margin: auto;
  height: 15rem;
  font-family: 'Pathway Gothic One', arial , sans-serif;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (min-width: 1024px) {
    .nav {
      -ms-flex-pack: distribute;
      justify-content: space-around; } }
  .nav__list {
    list-style: none;
    text-transform: uppercase; }
    @media screen and (max-width: 768px) {
      .nav__list {
        margin-top: 3.75rem;
        padding-left: 10px; } }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .nav__list {
        margin-top: 7.8125rem;
        width: auto;
        padding-left: 35px; } }
    @media screen and (min-width: 1024px) {
      .nav__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-top: 5.625rem; } }
  .nav__link {
    display: block;
    height: 1rem;
    text-decoration: none;
    color: #fff;
    width: 3.125rem; }
    .nav__link:hover {
      color: #38386d; }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .nav__link {
        width: 5rem; } }
    @media screen and (min-width: 1024px) {
      .nav__link {
        height: 1.5625rem;
        width: 5.625rem;
        line-height: 0.9375rem; } }
  .nav__item {
    display: inline-block;
    position: relative;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    margin: 0 auto;
    height: 1.875rem;
    font-size: 1.25rem;
    color: #fff; }
    .nav__item:hover > .nav__submenu {
      display: block; }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .nav__item {
        height: 3.125rem;
        font-size: 1.5rem; } }
    @media screen and (min-width: 1024px) {
      .nav__item {
        font-size: 1.75rem; } }

.nav__submenu {
  display: none;
  position: absolute;
  list-style: none;
  font-family: 'Pathway Gothic One', arial , sans-serif;
  color: #fff;
  text-align: center;
  border-radius: 0.3125rem;
  padding-left: 0.3125rem;
  padding-right: 0.9375rem;
  z-index: 10;
  left: -0.3125rem;
  top: 1.5625rem;
  width: 3.125rem;
  background: #fff;
  font-size: 0.875rem; }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .nav__submenu {
      top: 2.1875rem; } }
  @media screen and (min-width: 1024px) {
    .nav__submenu {
      left: -0.8125rem;
      top: 1.875rem;
      width: 4.375rem;
      font-size: 1.25rem; } }
  .nav__submenu-link {
    width: 2.8125rem;
    color: #38386d;
    display: block;
    height: 1rem;
    text-decoration: none; }
    .nav__submenu-link:hover {
      color: #fa2121; }
    @media screen and (min-width: 1024px) {
      .nav__submenu-link {
        height: 1.5625rem;
        width: 3.4375rem;
        line-height: 0.9375rem;
        font-size: 1.25rem; } }
  .nav__submenu-item {
    display: inline-block;
    font-size: 0.875rem; }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .nav__submenu-item {
        font-size: 1.0625rem; } }
  .nav__submenu-triangle::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0.625rem 0.625rem 0.625rem;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    left: 1rem;
    top: -0.375rem; }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .nav__submenu-triangle::before {
        top: -0.5rem; } }
    @media screen and (min-width: 1024px) {
      .nav__submenu-triangle::before {
        left: 1.75rem;
        top: -0.5rem; } }

.logo {
  display: inline-block;
  font-size: 2.125rem;
  font-family: 'Dorsa', arial , sans-serif;
  text-transform: uppercase;
  color: #38386d;
  background-color: #fff;
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  text-align: center;
  line-height: 5rem;
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  margin: auto; }
  .logo:hover {
    -webkit-box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
    cursor: pointer; }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .logo {
      font-size: 2.75rem;
      width: 6.25rem;
      height: 6.25rem;
      border-radius: 3.125rem;
      line-height: 6.25rem; } }
  @media screen and (min-width: 1024px) {
    .logo {
      position: static;
      display: block;
      font-size: 3.75rem;
      width: 8.75rem;
      height: 8.75rem;
      border-radius: 4.375rem;
      line-height: 8.75rem;
      margin-top: -3.75rem;
      margin-right: 2.5rem;
      margin-left: 1.875rem; } }

.socials {
  max-width: 64rem;
  height: 6.25rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .socials__icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    fill: #fff; }
    .socials__icon:hover {
      fill: #333; }

.copyright-text {
  max-width: 64rem;
  height: 2rem;
  margin: auto;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  text-align: center;
  font-size: 0.5625rem; }
  @media screen and (min-width: 768px) {
    .copyright-text {
      font-size: 0.75rem; } }

.to-top-button {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 0.9375rem;
  position: fixed;
  right: 6.875rem;
  bottom: 3.125rem;
  background-color: #38afe5;
  background-image: url("../img/top.png");
  background-repeat: no-repeat;
  background-position: center; }
  .to-top-button-img {
    width: 0.9375rem;
    height: 0.625rem;
    position: relative;
    left: 0.5rem;
    top: 0.5625rem; }
  .to-top-button:hover {
    background: rgba(154, 231, 171, 0.829); }

.footer-menu__top, .footer-menu__bottom {
  list-style-type: none; }

.footer-menu {
  max-width: 64rem;
  height: 8.25rem;
  background-color: #30455b;
  margin: auto;
  position: relative; }
  .footer-menu__top, .footer-menu__bottom {
    width: 100%;
    height: 25%;
    background-color: #30455b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    @media screen and (min-width: 768px) {
      .footer-menu__top, .footer-menu__bottom {
        height: 50%; } }
  .footer-menu__bottom {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (min-width: 768px) {
      .footer-menu__bottom {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; } }
  .footer-menu__item-contacts {
    font-size: 0.875rem;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    width: 5rem;
    color: #fff;
    text-decoration: none;
    position: absolute;
    left: 3.6875rem;
    bottom: 2rem;
    list-style-type: none; }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .footer-menu__item-contacts {
        font-size: 1rem;
        position: static; } }
    @media screen and (min-width: 1024px) {
      .footer-menu__item-contacts {
        font-size: 1.125rem;
        height: 1.5625rem;
        position: static; } }
  .footer-menu__link {
    font-size: 0.875rem;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    height: 1.5625rem;
    color: #fff;
    text-decoration: none; }
    .footer-menu__link:hover {
      color: blueviolet; }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .footer-menu__link {
        font-size: 1rem; } }
    @media screen and (min-width: 1024px) {
      .footer-menu__link {
        font-size: 1.125rem; } }
  .footer-menu__item {
    width: 5rem;
    list-style-type: none;
    color: rgba(20, 6, 61, 0.815);
    font-size: 0.875rem; }
    @media screen and (min-width: 1024px) {
      .footer-menu__item {
        width: 6.25rem; } }
  .footer-menu__tel-email {
    width: 16.25rem;
    font-size: 0.625rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
    color: #fff;
    position: absolute;
    display: inline-block;
    left: 12.3rem;
    bottom: 2rem; }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .footer-menu__tel-email {
        height: 1.1875rem;
        width: 5rem;
        text-align: left;
        position: static; } }
    @media screen and (min-width: 1024px) {
      .footer-menu__tel-email {
        font-size: 0.60rem;
        width: 5rem;
        position: static; } }
  .footer-menu__img-mail, .footer-menu__img-tel {
    position: relative;
    top: 0.25rem;
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.3125rem; }
    @media screen and (min-width: 768px) {
      .footer-menu__img-mail, .footer-menu__img-tel {
        display: none; } }
  .footer-menu__img-mail {
    margin-left: 2.4375rem; }

.title {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Pathway Gothic One', arial , sans-serif;
  color: #fff;
  color: rgba(20, 6, 61, 0.815);
  margin-bottom: 1.25rem;
  margin-top: 1.25rem; }

@media screen and (min-width: 768px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 2.5rem; } }

.gallery__img {
  width: 100%;
  height: auto; }

.gallery__item {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 2.5rem;
  padding: 0; }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .gallery__item {
      width: 48%;
      margin-bottom: 1.25rem; }
      .gallery__item:nth-last-child(-n+5) {
        margin-bottom: 0; } }
  @media screen and (min-width: 1024px) {
    .gallery__item {
      width: 32%; }
      .gallery__item:nth-last-child(-n+3) {
        margin-bottom: 0; } }
  .gallery__item:before {
    display: block;
    position: absolute;
    width: 32px;
    height: 28px;
    top: 40%;
    left: 50%;
    margin: -14px 0 0 -10px;
    background: url("../img/zoom-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .gallery__item:hover:before {
    top: 50%;
    opacity: 1; }
  .gallery__item:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 98%;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    content: '';
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .gallery__item:hover:after {
    opacity: 1; }
  .gallery__item:nth-last-child(-n+3) {
    display: none; }
    @media screen and (min-width: 1024px) {
      .gallery__item:nth-last-child(-n+3) {
        display: block; } }
