@media (min-width:1024px){


.menu {
        display: flex;
        flex-direction: row;
        margin-top: 5.625rem;
               
}
.navi li{
        font-size: 1.75rem;
}
      
.menu__item {
        display: inline-block;
        position: relative;
        margin-left: 0.625rem;
        margin-right: 0.625rem;
}
      
.menu__item > a,
.submenu__item > a {
        display: block;
        height: 1.5625rem;
        width: 3.4375rem;
        text-decoration: none;
        line-height: 0.9375rem;
        color: var(--accent-color);
}
.menu__item>a { width: 5.625rem; }
    
.submenu {
        left: -0.8125rem;
        top: 1.875rem;
        width: 4.375rem;
        background: white;
        font-size: 1.25rem;
        
      
}
.submenu li{
        font-size: 1.25rem;
}

.navi { justify-content: space-around;}

.logo{
        display: block;
        font-size: 3.75rem;
        font-family: 'Dorsa', arial , sans-serif;
        text-transform: uppercase;
        color: rgb(56, 56, 109);
        background-color: white;
        width: 8.75rem;
        height: 8.75rem;
        border-radius: 4.375rem;
        text-align: center;
        line-height: 8.75rem;
        margin-top: -3.75rem;
        margin-right: 2.5rem;
        margin-left: 1.875rem;

}

.triangle-top::before {
        content: "";
        display:block; 
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0.625rem 0.625rem 0.625rem;
        border-color: transparent transparent white transparent;
        position: absolute;
        left: 1.875rem;
        top: -0.5rem;
        
}
.menu li, .menu-right li{
        color: white;
}
li{
        list-style-type: none;
        color: rgba(20, 6, 61, 0.815);
        font-size: 1.0625rem;
        
}

ul{
        padding-left: 0rem;
}

.gallery-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: auto;
        height: auto;
        justify-content: space-between;
        margin-bottom: 5.625rem;
        
}
.gallery-item{
        width: 30%;
        height: auto;
        margin-bottom: 2.5rem;
        opacity: 1;               
}
.gal{
        font-size: 2rem;
        color: rgba(20, 6, 61, 0.815);
        text-transform: uppercase;
        font-family: 'Pathway Gothic One', Arial, sans-serif;
        display: inline-block;
        margin-top: 3.125rem;
        margin-bottom: 1.875rem;
        
     
}

.gallery-item:hover{
        opacity: 0.4;
        cursor: pointer;
        
}
.gallery-item:nth-last-child(-n+3){
        margin-bottom: 0;
}

.footer-menu{
        max-width: 64rem;
        height: 8.4375rem;
        background-color: #30455b;
        margin: auto;
              
}
.footer-menu-1, .footer-menu-2{
        max-width: 64rem;
        height: 50%;
        background-color: #30455b;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
            
}
.footer-menu-2{
        align-items: flex-start;
              
}
.footer-menu-1 li:nth-child(4){
        font-size: 1.125rem;
        font-family: 'Open Sans Condensed', sans-serif;
        text-transform: uppercase;
        height: 1.5625rem;
        color: rgb(226, 226, 226);
        text-decoration: none;
}
.footer-menu li a{
        font-size: 1.125rem;
        font-family: 'Open Sans Condensed', sans-serif;
        text-transform: uppercase;
        height: 1.5625rem;
        color: rgb(226, 226, 226);
        text-decoration: none;
      
}
.footer-menu-2 li{
        width: 6.25rem;
}
.footer-menu-1 li{
        width: 6.25rem;
}
.tel{
        font-size: 0.75rem;
        font-family: Arial, Helvetica, sans-serif;
        width: 8rem;
        text-transform: none;
        color: rgb(226, 226, 226);
}
.footer-menu li a:hover{
        color: blueviolet;
}
#img-mail, #img-tel{
        display: none;
              
}
.copyright { font-size: 0.75rem;}


}